
.container{
  width:80vw;
  margin:40px auto;
  max-width:900px;
  
}
    
    .primary {
      text-align: center;
      background-color: #E0D8DE;
      padding-bottom: 25px;
      background:url("../img/pic.jpg") no-repeat bottom center / 1920px 1060px;
      height:425px;
      margin-bottom: 50px;
    }
    h1 a {
      text-decoration: none;
      color: #ED6A5A;
      text-shadow: 5px 5px #5D576B;
    }
    header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  background-color: #5D576B; /* top bar */
  padding: 8px;
  margin-top: 0;
}
    header.primary nav ul li{
  list-style-type:none;
  padding:5px;
}
    header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
  background-color: purple;
  background-color: #ED6A5A; /*tabs*/
  padding: 5px 30px;
  border-radius:3px;
  transition:.25s;
}
 header.primary nav ul li a:hover, header.primary nav ul li a:active{
  background-color:rgba(237,106,90,0.9);
  padding: 6px 31px;
  border-radius:3px;

}
   h1 {
      font-size: 5em;
      margin-top:125px;
    }
   .primary h2 {
      position: relative;
      text-align: right;
      margin-top: 100px;
      padding-right: 20px;
      font-size: 40px;
      color: #ED6A5A;
      padding-bottom: 10px;
      border-bottom:3px solid #ED6A5A;
      text-shadow: 1px 1px #5D576B;
    }
    
h6 {
  padding: 10px;
  margin-bottom: 0;
}
   #articles{
display:flex;
flex-direction:row;
justify-content:space-around;
border-bottom:1px solid #c0c0c0;
padding-bottom: 20px;
padding-right: 15px;
padding-left: 15px;
background-color: #9BC1BC; /*background*/
}
#info{
display:flex;
flex-direction:row;
justify-content:space-around;
border-bottom:1px solid #c0c0c0;
padding-bottom: 20px;
padding-right: 15px;
padding-left: 15px;
background-color: #9BC1BC; /*background*/
}
.post{
  width:20%;
  text-align:center;
  padding: 15px;
  border-radius:3px;
  font-size:.9rem;
  background-color: #F4F1BB
}
#articles header {
  text-align: center;
}
#info header {
  text-align: center;
}
.title {
  background-color: #9BC1BC;
  margin-bottom: 0;  
  padding: 30px;
  text-align: center;
}

#img {
    float:right;
    margin-right: 0;
    margin-top:70px;
    margin-bottom:70px;
}
#img2 {
  display:flex;
  justify-content:space-around;
}
.pic {
    padding:10px;
    height: 480px;
    width: 500px;
    
}
    @media screen and (max-width:690px){
  
  header.primary nav ul {
    flex-direction:column;
    
  }
       header.primary nav a{
    display:block;
  }
  
  
}

.about {
  background-color: #F4F1BB;
  margin-top: 30px;
  padding:25px;
  border-radius:3px;
  margin: 15px;
  max-width:900px;
  margin-left: auto;
  margin-right: auto;

  
}

#about {
  	overflow: hidden;
}

body {
      margin: 0;
      background-color: #E6EBE0;
     font-family: 'Roboto', sans-serif;
    }


.faq {
	max-width: 900px;
  margin: 50px auto 130px auto;
 
 
}
.faq h3 {
	background: #9BC1BC url(images/arrow-square.gif) 
    no-repeat right -51px;
	padding: 7px 15px;
	margin: 1px;
  cursor: pointer;
  transition:.25s;
  border-radius: 5px;
  
}
.faq h3:hover {
	background-color: rgba(93, 87, 107,.65);
}
.faq h3.active {
	background-position: right 5px;
}
.faq p {
	background: #F4F1BB;
	margin: 0;
	padding: 10px 15px 20px;
  border-radius: 5px;
  
}
#colophon {
      background-color: #5D576B;
      color: #ffffff;
      padding-left: 10px;
      margin-bottom: 0;
    }
footer a {
  text-decoration: none;
  color:#ffffff;
}
#colophonn {
  
  background-color: #5D576B;
      color: #ffffff;
      padding-left: 10px;
      margin-bottom: 0;
}

