.primary{
  background-color:#3b638b;
  margin: 0px;
  padding-top:30px;
  padding-bottom:40px;
}

h1{
   text-align: center;
   color:#ffffff;
   text-shadow: 2px 2px #000;
   font-size: 50px;
   padding-bottom:10px;
}

body{
  font-family: 'Raleway', sans-serif;
  margin:0;
  line-height:1.5em;
}


nav ul {
  display: flex;
  flex-direction:column;
}

li {
  background-color:#3b638b;
  padding:25px;
  color:#ffffff;
  list-style-type:none;
  text-decoration:none;
  margin:15px;
   border-radius: 3px;
  
}

nav ul a{
  text-decoration:none;
  color:#ffffff;
  padding:15px;
  border-radius: 31px;
  background-color:#007aff;
}


/* ul li {
   align-content: space-around; 
}

#assign {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
*/


