.primary{
  background-color:#3b638b;
  margin: 0px;
  padding-top:30px;
  padding-bottom:40px;
}

h1{
   text-align: center;
   color:#ffffff;
   text-shadow: 2px 2px #000;
   font-size: 50px;
   padding-bottom:10px;
}

body{
  font-family: 'Raleway', sans-serif;
  margin:0;
  line-height:1.5em;
  
}


nav ul {
  display: flex;
  flex-direction:column;
  
}

nav ul ul {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
}

li {
  background-color:#3b638b;
  padding:25px;
  color:#ffffff;
  list-style-type:none;
  text-decoration:none;
  margin:10px;
   border-radius: 3px;
  
}

nav ul a{
  text-decoration:none;
  color:#ffffff;
  padding:10px;
  border-radius: 10px;
  background-color:#007aff;
}

.container {
  display:block;
max-width: 900px;
margin-left:auto;
margin-right:auto;
margin-top:50px;

}

#colophon {
      background-color: #3b638b;
      color: #ffffff;
      height:30px;
      margin-bottom: 0;
      padding-left: 10px;
    }
footer a {
  text-decoration: none;
  color:#ffffff;
}

h2 {
  text-align: center;
}

.article {
  border-top:1px solid #c0c0c0;
  padding-top:30px;
  margin-top:80px;
}

  a:link, a:visited{
  background-color: purple;
  background-color: #3b638b; /*tabs*/
  transition:.25s;
}
  a:hover, a:active{
  background-color:rgba(237,106,90,0.9);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:3px;

}
/* ul li {
   align-content: space-around; 
}

#assign {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
*/


