
    .container{
  width:80vw;
  margin:40px auto;
  max-width:900px;
  
}
    
    .primary {
      text-align: center;
      background-color: #E0D8DE;
      padding-bottom: 25px;
      background:url("../img/pic.jpg") no-repeat bottom center / 1920px 1060px;
    }
    h1 a {
      text-decoration: none;
      color: #4B3B47;
      text-shadow: 4px 4px #CFD2B2;
    }
    header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  background-color: #6A6262;
  padding: 8px;
  margin-top: 0;
}
    header.primary nav ul li{
  list-style-type:none;
  padding:5px;
}
    header.primary nav ul li a:link, header.primary nav ul li a:visited{
  color:#ffffff;
  text-decoration:none;
  background-color: purple;
  background-color: #4B3B47;
  padding: 5px 30px;
  border-radius:3px;
  transition:.25s;
}
 header.primary nav ul li a:hover, header.primary nav ul li a:active{
  background-color:rgba(75,59,71,0.6);
}
   h1 {
      font-size: 9em;
      margin-top: 190px;
    }
   .primary h2 {
      position: relative;
      text-align: right;
      margin-top: 252px;
      padding-right: 20px;
      font-size: 40px;
      color: #4B3B47;
      padding-bottom: 10px;
      border-bottom:3px solid #101935;
      text-shadow: 1px 1px #CFD2B2;
    }
    
h6 {
  padding: 10px;
  margin-bottom: 0;
}
   #articles{
display:flex;
flex-direction:row;
justify-content:space-between;
border-bottom:1px solid #c0c0c0;
padding-bottom: 20px;
padding-right: 15px;
padding-left: 15px;
background-color: #CFD2B2;
}
#info{
display:flex;
flex-direction:row;
justify-content:space-between;
border-bottom:1px solid #c0c0c0;
padding-bottom: 20px;
padding-right: 15px;
padding-left: 15px;
background-color: #CFD2B2;
}
.post{
  width:30%;
  padding:.7em;
  border-radius:3px;
  font-size:.9rem;
  background-color: #9C9990
}
#articles header {
  text-align: center;
}
#info header {
  text-align: center;
}
.title {
  background-color: #CFD2B2;
  margin-bottom: 0;  
  padding: 30px;
  text-align: center;
}

#img {
    float:right;
    margin-right: 0;
    margin-top:60px;
}
#img2 {
  display:flex;
  justify-content:space-around;
}
.pic {
    padding:10px;
    height: 480px;
    width: 500px;
    
}
    @media screen and (max-width:690px){
  
  header.primary nav ul {
    flex-direction:column;
    
  }
       header.primary nav a{
    display:block;
  }
  
  
}


details {
  padding:25px;
  background-color: #CFD2B2;
  margin-top: 30px;
  margin: 15px;
  border-radius:3px;
}
.summary {
  background-color:#9C9990;
  padding: 10px;
  border-radius:3px;
  padding-top:30px;
  
}

summary {
  background-color: #9C9990;
  margin-bottom: 15px;
  padding:10px;
  border-radius:3px;
}

.about {
  background-color: #CFD2B2;
  margin-top: 30px;
  padding:25px;
  border-radius:3px;
  margin: 15px;
}

body {
      margin: 0;
      background-color: #E0D8DE;
    }

#colophon {
      background-color: #6A6262;
      color: #ffffff;
      padding-left: 10px;
      margin-bottom: 0;
    }
footer a {
  text-decoration: none;
  color:#ffffff;
}

 